*{
    margin:0;
}
.head{
    background: black;
}
.head-content{
    display: flex;
    justify-content: space-between;
}
.head-content h1{
    color: yellow;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    padding-top: 25px;
}
#menu{
    display: flex;
    list-style: none;
    padding: 10px;
}
#menu li{
    padding:20px;
    font-size: 1.5em;
    color: white;

}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:transparent;
    border: 1;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 15px;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.divider{
    background: white;
    padding:1px;
}
#menu li:hover{
    color:black;
    background: whitesmoke
}
.body-content{
    background: black;
    height: 900px;
}
.Star{
    color: whitesmoke;
    text-align: center;
    padding-top:70px;
    font-size:1.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.frame{
    width: 900px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    opacity:0.6;
}





#foot{
    text-align: center;
    background: black;
    opacity: 1;
    color: whitesmoke;
    padding: 10px;
}
